!!! 5
%html
  %head
    %title Booze &Eacute;poque
    %meta(charset='UTF-8')
    %link(rel='icon' type='image/png' href='images/favicon.png')
    =stylesheet_link_tag :application
    //%link(rel='stylesheet' href='main.css')
    :javascript
      // hide sections other than #home, unless JS is unavailable
      (function(){
        var sheet = document.styleSheets[0];
        if (sheet.addRule) {
          // IE
          sheet.addRule('.hidden', 'visibility:hidden;display:none;', 0);
        } else if (sheet.insertRule) {
          // everyone else
          sheet.insertRule('.hidden{visibility:hidden;display:none;}', 0);
        }
      })();

  %body
    %img.redhead(src='images/redhead-500x630.png' alt='')
    %img.brunette(src='images/brunette-500x630.png' alt='')

    #main-container.home
      #main
        %h1
          Booze &Eacute;poque

        %nav
          %a(href='#home') home
          |
          %a(href='#about') about
          |
          %a(href='#blog') blog
          |
          %a(href='#photos') photos
          |
          %a(href='#menus') menus
          |
          %a(href='#events') events/classes
          |
          %a(href='#faq') faq
          |
          %a(href='#vendors') vendors
          |
          %a(href='#contact') contact

        #home
          %h3
            .what  boutique cocktails and spirit alchemy
            .where cambridge, massachusetts
          %br

        = render partial: 'about'

        #blog.hidden

        #photos.hidden

        = render partial: 'menus'

        = render partial: 'events'

        = render partial: 'faq'

        = render partial: 'vendors'

        = render partial: 'contact'

        %footer
          .who Meaghan and Harmony
          .links
            %a(href='mailto:events@boozeepoque.com' target='_blank') events@boozeepoque.com
            |
            %a(href='http://twitter.com/#!/boozeepoque' target='_blank') @boozeepoque
            |
            %a(href='https://www.facebook.com/pages/Booze-%C3%89poque/335482893191739' target='_blank') facebook
      &nbsp;

    %script(src='js/jquery-1.7.2.min.js')
    %script(src='js/main.js')
    %script(src='js/tumblr-feedeater.js')
    %script(src='http://boozeepoque.tumblr.com/api/read/json?num=50')
    :javascript
      FEEDEATER.render_posts({target: '#blog'});

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-31731034-1']);
      _gaq.push(['_setDomainName', 'boozeepoque.com']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

